In [1]:
import numpy as np
import pandas as pd
#from sklearn import linear_model
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv(r'C:\Users\hp\Music\2023\Datasets\Jossa dataset\2020.csv')
df1

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,6836,8816,2020,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),13184,14366,2020,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),Gender-Neutral,56P,56P,2020,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1297,1532,2020,1
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),2410,2655,2020,1
...,...,...,...,...,...,...,...,...,...
54603,North Eastern Regional Institute of Science an...,"Electrical Engineering (4 Years, Bachelor of T...",AI,EWS,Gender-Neutral,9515,9515,2020,6
54604,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,AI,OPEN,Gender-Neutral,23734,23734,2020,6
54605,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,AI,EWS,Gender-Neutral,10153,10153,2020,6
54606,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",AI,EWS,Gender-Neutral,9547,9547,2020,6
54607,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Gender-Neutral,19386,19386,2020,6

In [3]:
df1.Quota.unique()

array(['AI', 'HS', 'OS', 'GO', 'JK', 'LA'], dtype=object)

In [4]:
len(df1.Institute.value_counts().unique())

104

In [5]:
df1['Seat Type'].unique()

array(['OPEN', 'OPEN (PwD)', 'EWS', 'OBC-NCL', 'SC', 'ST', 'EWS (PwD)',
       'OBC-NCL (PwD)', 'SC (PwD)', 'ST (PwD)'], dtype=object)

In [6]:
df1['Seat Type'].isna().sum()

0

In [7]:
df1.isna().sum()

Institute                0
Academic Program Name    0
Quota                    0
Seat Type                0
Gender                   0
Opening Rank             0
Closing Rank             0
Year                     0
Round                    0
dtype: int64

In [8]:
df1['Gender'].unique()

array(['Gender-Neutral', 'Female-only (including Supernumerary)'],
      dtype=object)

In [9]:
df1.groupby('Gender')['Gender'].agg('count')

Gender
Female-only (including Supernumerary)    20595
Gender-Neutral                           34013
Name: Gender, dtype: int64

In [10]:
len(df1['Academic Program Name'].unique())

154

In [11]:
l =['Year','Opening Rank']

    
df2 = df1.drop(l,axis=1)

In [12]:
df2

,Institute,Academic Program Name,Quota,Seat Type,Gender,Closing Rank,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,8816,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),14366,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),Gender-Neutral,56P,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1532,1
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),2655,1
...,...,...,...,...,...,...,...
54603,North Eastern Regional Institute of Science an...,"Electrical Engineering (4 Years, Bachelor of T...",AI,EWS,Gender-Neutral,9515,6
54604,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,AI,OPEN,Gender-Neutral,23734,6
54605,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,AI,EWS,Gender-Neutral,10153,6
54606,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",AI,EWS,Gender-Neutral,9547,6
54607,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Gender-Neutral,19386,6

In [13]:
dummies = pd.get_dummies(df1['Gender'],drop_first= True)
dummies.head(3)

   Gender-Neutral
0               1
1               0
2               1

In [14]:
df2 = pd.concat([df1,dummies],axis=1)

In [15]:
df2.drop(['Gender'],axis=1,inplace = True)

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [17]:
df2['Quota_'] = le.fit_transform(df2['Quota'])

df2['Seat_Type'] = le.fit_transform(df2['Seat Type'])

In [18]:
df2

,Institute,Academic Program Name,Quota,Seat Type,Opening Rank,Closing Rank,Year,Round,Gender-Neutral,Quota_,Seat_Type
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,6836,8816,2020,1,1,0,4
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,13184,14366,2020,1,0,0,4
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),56P,56P,2020,1,1,0,5
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,1297,1532,2020,1,1,0,0
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,2410,2655,2020,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
54603,North Eastern Regional Institute of Science an...,"Electrical Engineering (4 Years, Bachelor of T...",AI,EWS,9515,9515,2020,6,1,0,0
54604,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,AI,OPEN,23734,23734,2020,6,1,0,4
54605,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,AI,EWS,10153,10153,2020,6,1,0,0
54606,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",AI,EWS,9547,9547,2020,6,1,0,0
54607,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,19386,19386,2020,6,1,0,2

In [19]:
df2.drop(['Quota','Seat Type','Opening Rank','Year'],axis =1,inplace=True)
df2

,Institute,Academic Program Name,Closing Rank,Round,Gender-Neutral,Quota_,Seat_Type
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",8816,1,1,0,4
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",14366,1,0,0,4
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",56P,1,1,0,5
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",1532,1,1,0,0
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",2655,1,0,0,0
...,...,...,...,...,...,...,...
54603,North Eastern Regional Institute of Science an...,"Electrical Engineering (4 Years, Bachelor of T...",9515,6,1,0,0
54604,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,23734,6,1,0,4
54605,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,10153,6,1,0,0
54606,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",9547,6,1,0,0
54607,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",19386,6,1,0,2

In [20]:
df2[df2['Institute']=='Indian Institute of Technology Bhubaneswar']

,Institute,Academic Program Name,Closing Rank,Round,Gender-Neutral,Quota_,Seat_Type
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",8816,1,1,0,4
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",14366,1,0,0,4
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",56P,1,1,0,5
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",1532,1,1,0,0
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",2655,1,0,0,0
...,...,...,...,...,...,...,...
45746,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,1992,6,1,0,0
45747,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,3933,6,0,0,0
45748,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,5156,6,1,0,2
45749,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,2797,6,1,0,6
45750,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,520P,6,1,0,8

In [21]:
df2[df2['Closing Rank'] =='56P']

,Institute,Academic Program Name,Closing Rank,Round,Gender-Neutral,Quota_,Seat_Type
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",56P,1,1,0,5
9339,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",56P,2,1,0,5
18476,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",56P,3,1,0,5
27544,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",56P,4,1,0,5

In [22]:
v=[]
for values in df2['Closing Rank']:
    if 'P' in values :
        v.append(values)

In [23]:
v

['56P',
 '242P',
 '63P',
 '131P',
 '37P',
 '51P',
 '301P',
 '250P',
 '492P',
 '238P',
 '13P',
 '85P',
 '859P',
 '32P',
 '93P',
 '80P',
 '72P',
 '290P',
 '923P',
 '226P',
 '3P',
 '178P',
 '367P',
 '33P',
 '210P',
 '549P',
 '454P',
 '225P',
 '16P',
 '14P',
 '192P',
 '306P',
 '531P',
 '154P',
 '164P',
 '137P',
 '52P',
 '43P',
 '10P',
 '9P',
 '1P',
 '765P',
 '9P',
 '643P',
 '153P',
 '1P',
 '222P',
 '555P',
 '157P',
 '912P',
 '228P',
 '6P',
 '6P',
 '15P',
 '53P',
 '302P',
 '748P',
 '86P',
 '119P',
 '370P',
 '461P',
 '753P',
 '574P',
 '1124P',
 '220P',
 '1111P',
 '260P',
 '472P',
 '800P',
 '139P',
 '209P',
 '638P',
 '1201P',
 '233P',
 '85P',
 '37P',
 '4P',
 '112P',
 '361P',
 '380P',
 '652P',
 '1207P',
 '186P',
 '489P',
 '190P',
 '208P',
 '20P',
 '34P',
 '51P',
 '229P',
 '50P',
 '10P',
 '5P',
 '124P',
 '102P',
 '241P',
 '783P',
 '419P',
 '515P',
 '479P',
 '852P',
 '520P',
 '551P',
 '887P',
 '252P',
 '331P',
 '97P',
 '90P',
 '28P',
 '92P',
 '207P',
 '598P',
 '856P',
 '73P',
 '117P',
 '161P',
 '423P',
 '426P',
 '644P',
 '68P',
 '422P',
 '1032P',
 '193P',
 '239P',
 '1085P',
 '23P',
 '94P',
 '7P',
 '2P',
 '452P',
 '1173P',
 '374P',
 '978P',
 '27P',
 '214P',
 '744P',
 '8P',
 '249P',
 '77P',
 '150P',
 '877P',
 '41P',
 '187P',
 '304P',
 '708P',
 '217P',
 '327P',
 '940P',
 '194P',
 '65P',
 '18P',
 '29P',
 '2P',
 '15P',
 '5P',
 '299P',
 '77P',
 '68P',
 '26P',
 '39P',
 '12P',
 '197P',
 '44P',
 '169P',
 '482P',
 '594P',
 '91P',
 '554P',
 '899P',
 '84P',
 '405P',
 '148P',
 '763P',
 '108P',
 '11P',
 '11P',
 '135P',
 '460P',
 '493P',
 '473P',
 '501P',
 '109P',
 '863P',
 '352P',
 '579P',
 '505P',
 '188P',
 '82P',
 '3P',
 '4P',
 '50P',
 '778P',
 '30P',
 '1065P',
 '206P',
 '171P',
 '83P',
 '167P',
 '599P',
 '633P',
 '230P',
 '1076P',
 '667P',
 '577P',
 '645P',
 '671P',
 '647P',
 '578P',
 '254P',
 '6P',
 '69P',
 '121P',
 '76P',
 '294P',
 '99P',
 '59P',
 '87P',
 '392P',
 '1079P',
 '34P',
 '382P',
 '510P',
 '1140P',
 '390P',
 '192P',
 '764P',
 '508P',
 '414P',
 '1088P',
 '167P',
 '164P',
 '1041P',
 '23P',
 '47P',
 '424P',
 '462P',
 '491P',
 '363P',
 '829P',
 '844P',
 '720P',
 '1104P',
 '619P',
 '189P',
 '474P',
 '464P',
 '928P',
 '509P',
 '143P',
 '158P',
 '463P',
 '236P',
 '46P',
 '59P',
 '103P',
 '65P',
 '144P',
 '191P',
 '290P',
 '634P',
 '340P',
 '467P',
 '224P',
 '381P',
 '391P',
 '379P',
 '825P',
 '385P',
 '238P',
 '383P',
 '1039P',
 '575P',
 '442P',
 '1081P',
 '420P',
 '600P',
 '950P',
 '654P',
 '544P',
 '818P',
 '288P',
 '377P',
 '141P',
 '7P',
 '20P',
 '165P',
 '246P',
 '220P',
 '18P',
 '560P',
 '746P',
 '5P',
 '221P',
 '681P',
 '695P',
 '697P',
 '54P',
 '30P',
 '45P',
 '722P',
 '388P',
 '101P',
 '741P',
 '528P',
 '113P',
 '17P',
 '133P',
 '616P',
 '116P',
 '543P',
 '174P',
 '1013P',
 '740P',
 '40P',
 '498P',
 '157P',
 '576P',
 '508P',
 '1148P',
 '819P',
 '171P',
 '345P',
 '50P',
 '128P',
 '56P',
 '242P',
 '31P',
 '301P',
 '37P',
 '382P',
 '250P',
 '520P',
 '13P',
 '85P',
 '859P',
 '32P',
 '93P',
 '43P',
 '80P',
 '72P',
 '290P',
 '923P',
 '226P',
 '150P',
 '178P',
 '367P',
 '33P',
 '736P',
 '678P',
 '454P',
 '16P',
 '14P',
 '236P',
 '549P',
 '849P',
 '164P',
 '157P',
 '52P',
 '10P',
 '9P',
 '1P',
 '46P',
 '765P',
 '9P',
 '643P',
 '153P',
 '38P',
 '1P',
 '222P',
 '748P',
 '230P',
 '912P',
 '228P',
 '6P',
 '6P',
 '15P',
 '53P',
 '384P',
 '944P',
 '86P',
 '119P',
 '370P',
 '461P',
 '753P',
 '684P',
 '1207P',
 '844P',
 '220P',
 '1111P',
 '260P',
 '472P',
 '800P',
 '139P',
 '744P',
 '638P',
 '1201P',
 '37P',
 '4P',
 '112P',
 '361P',
 '380P',
 '717P',
 '1253P',
 '291P',
 '186P',
 '76P',
 '783P',
 '190P',
 '208P',
 '20P',
 '34P',
 '51P',
 '249P',
 '57P',
 '10P',
 '5P',
 '124P',
 '102P',
 '241P',
 '852P',
 '419P',
 '515P',
 '507P',
 '1140P',
 '544P',
 '645P',
 '1152P',
 '252P',
 '554P',
 '97P',
 '90P',
 '69P',
 '28P',
 '266P',
 '207P',
 '602P',
 '1076P',
 '173P',
 '117P',
 '161P',
 '460P',
 '518P',
 '644P',
 '68P',
 '422P',
 '1032P',
 '233P',
 '239P',
 '1085P',
 '26P',
 '94P',
 '7P',
 '2P',
 '612P',
 '1217P',
 '374P',
 '1065P',
 '27P',
 '214P',
 '899P',
 '23P',
 '83P',
 '443P',
 '877P',
 '41P',
 '187P',
 '304P',
 '928P',
 '217P',
 '327P',
 '1212P',
 '194P',
 '65P',
 '18P',
 '29P',
 '4P',
 '15P',
 '302P',
 '299P',
 '145P',
 '68P',
 '26P',
 '12P',
 '197P',
 '44P',
 '169P',
 '940P',
 '23P',
 '594P',
 '91P',
 '655P',
 '1033P',
 '405P',
 '213P',
 '911P',
 '108P',
 '14P',
 '11P',
 '11P',
 '599P',
 '493P',
 '492P',
 '501P',
 '1050P',
 '863P',
 '352P',
 '579P',
 '382P',
 '572P',
 '188P',
 '82P',
 '3P',
 '5P',
 '9P',
 '50P',
 '778P',
 '689P',
 '1326P',
 '379P',
 '171P',
 '167P',
 '825P',
 '691P',
 '473P',
 '1174P',
 '667P',
 '841P',
 '750P',
 '760P',
 '791P',
 '578P',
 '254P',
 '6P',
 '121P',
 '76P',
 '391P',
 '99P',
 '65P',
 '131P',
 '303P',
 '209P',
 '525P',
 '1244P',
 '424P',
 '774P',
 '607P',
 '1170P',
 '573P',
 '199P',
 '1148P',
 '577P',
 '510P',
 '1088P',
 '318P',
 '164P',
 '1041P',
 '118P',
 '135P',
 '531P',
 '462P',
 '723P',
 '559P',
 '1173P',
 '1320P',
 '1143P',
 '1104P',
 '761P',
 '665P',
 '474P',
 '611P',
 '1225P',
 '822P',
 '693P',
 '158P',
 '569P',
 '72P',
 '40P',
 '70P',
 '59P',
 '103P',
 '144P',
 '505P',
 '671P',
 '734P',
 '684P',
 '657P',
 '224P',
 '463P',
 '887P',
 '414P',
 '1153P',
 '566P',
 '357P',
 '442P',
 '1081P',
 '776P',
 '633P',
 '1124P',
 '508P',
 '716P',
 '950P',
 '751P',
 '582P',
 '818P',
 '288P',
 '763P',
 '141P',
 '67P',
 '165P',
 '191P',
 '246P',
 '220P',
 '18P',
 '560P',
 '746P',
 '50P',
 '840P',
 '5P',
 '221P',
 '722P',
 '867P',
 '697P',
 '87P',
 '59P',
 '171P',
 '73P',
 '764P',
 '75P',
 '388P',
 '235P',
 '804P',
 '528P',
 '113P',
 '17P',
 '133P',
 '616P',
 '116P',
 '543P',
 '227P',
 '1013P',
 '740P',
 '45P',
 '498P',
 '576P',
 '489P',
 '647P',
 '1306P',
 '819P',
 '482P',
 '345P',
 '101P',
 '128P',
 '56P',
 '242P',
 '31P',
 '301P',
 '37P',
 '382P',
 '250P',
 '520P',
 '13P',
 '85P',
 '859P',
 '32P',
 '93P',
 '43P',
 '80P',
 '72P',
 '290P',
 '923P',
 '226P',
 '150P',
 '178P',
 '367P',
 '33P',
 '736P',
 '678P',
 '454P',
 '16P',
 '14P',
 '236P',
 '549P',
 '849P',
 '164P',
 '157P',
 '52P',
 '10P',
 '9P',
 '1P',
 '46P',
 '765P',
 '9P',
 '643P',
 '153P',
 '38P',
 '1P',
 '222P',
 '748P',
 '230P',
 '912P',
 '228P',
 '6P',
 '6P',
 '15P',
 '53P',
 '384P',
 '1072P',
 '86P',
 '119P',
 '370P',
 '461P',
 '753P',
 '684P',
 '1207P',
 '844P',
 '220P',
 '1111P',
 '260P',
 '472P',
 '800P',
 '139P',
 '744P',
 '638P',
 '1201P',
 '37P',
 '4P',
 '112P',
 '361P',
 '380P',
 '717P',
 '1326P',
 '291P',
 '186P',
 '76P',
 '783P',
 '190P',
 '208P',
 '20P',
 '34P',
 '51P',
 '249P',
 '57P',
 '10P',
 '5P',
 '124P',
 '102P',
 '241P',
 '852P',
 '419P',
 '515P',
 '507P',
 '1140P',
 '544P',
 '645P',
 '1152P',
 '252P',
 '554P',
 '97P',
 '90P',
 '69P',
 '28P',
 '266P',
 '207P',
 '602P',
 '1076P',
 '173P',
 '117P',
 '161P',
 '460P',
 '518P',
 '644P',
 '68P',
 '422P',
 '1032P',
 '233P',
 '239P',
 '1085P',
 '26P',
 '94P',
 '7P',
 '2P',
 '612P',
 '1217P',
 '374P',
 '1065P',
 '27P',
 '214P',
 '899P',
 '23P',
 '83P',
 '471P',
 '877P',
 '41P',
 '187P',
 '304P',
 '928P',
 '217P',
 '327P',
 '1244P',
 '194P',
 '65P',
 '18P',
 '29P',
 '4P',
 '15P',
 '302P',
 '299P',
 '145P',
 '68P',
 '26P',
 '12P',
 '197P',
 '44P',
 '169P',
 '940P',
 '23P',
 '594P',
 '91P',
 '737P',
 '1177P',
 '405P',
 '213P',
 '911P',
 '108P',
 '14P',
 '11P',
 '11P',
 '599P',
 '493P',
 '258P',
 '492P',
 '501P',
 '1310P',
 '863P',
 '352P',
 '579P',
 '761P',
 '572P',
 '188P',
 '82P',
 '3P',
 '5P',
 '9P',
 '50P',
 '778P',
 '382P',
 '689P',
 '1343P',
 '379P',
 '171P',
 '167P',
 '825P',
 '710P',
 '473P',
 '1174P',
 '667P',
 '841P',
 '791P',
 '885P',
 '794P',
 '578P',
 '254P',
 '6P',
 '121P',
 '76P',
 '391P',
 '99P',
 '65P',
 '131P',
 '303P',
 '209P',
 '525P',
 '1392P',
 '424P',
 '774P',
 '617P',
 '1212P',
 '573P',
 '199P',
 '1148P',
 '807P',
 '510P',
 '1088P',
 '760P',
 '164P',
 '1041P',
 '118P',
 '135P',
 '531P',
 '462P',
 '723P',
 '566P',
 '1173P',
 '1443P',
 '1388P',
 '1104P',
 '761P',
 '665P',
 '474P',
 '640P',
 '1253P',
 '876P',
 '734P',
 '158P',
 '569P',
 '72P',
 '40P',
 '70P',
 '59P',
 '103P',
 '144P',
 '505P',
 '671P',
 '759P',
 '684P',
 '657P',
 '224P',
 '463P',
 '887P',
 '414P',
 '1170P',
 '568P',
 '357P',
 '442P',
 '1081P',
 '776P',
 '633P',
 '1124P',
 '508P',
 '750P',
 '950P',
 '751P',
 '582P',
 '818P',
 '288P',
 '763P',
 '141P',
 '67P',
 '165P',
 '191P',
 '246P',
 '220P',
 '18P',
 '560P',
 '746P',
 '50P',
 '840P',
 '5P',
 '221P',
 '722P',
 '867P',
 '697P',
 '87P',
 '59P',
 '171P',
 '73P',
 '764P',
 '75P',
 '388P',
 '235P',
 '804P',
 '528P',
 '113P',
 '17P',
 '133P',
 '616P',
 '116P',
 '543P',
 '227P',
 '1013P',
 '740P',
 '45P',
 '498P',
 '576P',
 '575P',
 '647P',
 '1306P',
 '819P',
 '482P',
 '345P',
 '101P',
 '128P',
 '56P',
 '242P',
 '31P',
 '301P',
 '37P',
 '382P',
 '250P',
 '520P',
 '13P',
 '85P',
 '859P',
 '32P',
 '93P',
 '43P',
 '80P',
 '72P',
 '290P',
 '923P',
 ...]

In [28]:
for values in v:
    df2 = df2[~(df2['Closing Rank'] == values)]
#df2 = df2[~(df2['Closing Rank'] == '56P')]

In [30]:
df2['Closing Rank'] = df2['Closing Rank'].astype('int')

In [31]:
df2

,Institute,Academic Program Name,Closing Rank,Round,Gender-Neutral,Quota_,Seat_Type
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",8816,1,1,0,4
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",14366,1,0,0,4
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",1532,1,1,0,0
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",2655,1,0,0,0
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",3598,1,1,0,2
...,...,...,...,...,...,...,...
54603,North Eastern Regional Institute of Science an...,"Electrical Engineering (4 Years, Bachelor of T...",9515,6,1,0,0
54604,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,23734,6,1,0,4
54605,North Eastern Regional Institute of Science an...,Electronics and Communication Engineering (4 Y...,10153,6,1,0,0
54606,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",9547,6,1,0,0
54607,North Eastern Regional Institute of Science an...,"Mechanical Engineering (4 Years, Bachelor of T...",19386,6,1,0,2

In [32]:
df3 = df2

In [33]:
df3['Closing Rank'].dtype

dtype('int32')